@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
    font-display: swap;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets//fonts/playfair-display-v40-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    src: url('../src/assets//fonts/playfair-display-v40-latin-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    src: url('../src/assets//fonts/playfair-display-v40-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets//fonts/playfair-display-v40-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets//fonts/inter-v20-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    src: url('../src/assets//fonts/inter-v20-latin-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../src/assets//fonts/inter-v20-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets//fonts/inter-v20-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Instrument Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/instrument-serif-v5-latin_latin-ext-regular.woff2') format('woff2');
}

@layer utilities {
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: gray;
    }
    /* إلغاء لون الخلفية والخط الناتج عن الـ Autofill وتأكيد اللون الأصلي */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  -webkit-transition-delay: 9999s;
}
}
